@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  
  .efectOfTransition {
    @apply transition-all duration-500 ease-out;
  }

  .navBar {
    @apply w-full p-3 pb-5 flex lg:sm:flex-row sm:flex-col flex-col gap-4 border-b-8 border-blue-500;
    @apply text-white lg:sm:grid grid-cols-5 text-3xl font-bold;
  }

  .accountLayout{
    @apply grid w-full gap-4 font-bold;
    @apply grid-cols-5 grid-rows-5 lg:sm:grid-rows-4 gap-4;
  }

  .card {
    @apply p-3 shadow-2xl text-center rounded-lg efectOfTransition;
    @apply flex flex-col;
    @apply hover:text-white hover:bg-blue-500 hover:cursor-pointer hover:shadow-blue-500;
  }
  
  .content {
    @apply pt-8 ;
    height: 250px;
    overflow-y: auto;
  }

  .content > p {
    @apply rounded-b-lg underline underline-offset-8;
  }

  .accountInfoTitle {
    @apply card col-span-5 row-span-1 col-start-1 row-start-1;
  }

  .styleOfTitle {
    @apply lg:sm:text-5xl lg:sm:p-5 text-5xl my-auto;
  }

  .form {
    @apply lg:sm:w-5/12 sm:w-8/12 w-full rounded-3xl p-5 flex flex-col gap-4 justify-center shadow-2xl;
  }

  .inputField {
    @apply p-3 text-center lg:sm:w-6/12 sm:w-8/12 mx-auto border-b-4 border-b-blue-500 efectOfTransition;
  }

  .inputField:hover{
    @apply bg-blue-500 rounded-tl-lg rounded-tr-lg text-white;
  }

  .inputField:focus{
    outline:none;
  }

  .inputField::placeholder{
    @apply text-blue-500
  }

  .inputField::placeholder:hover{
    @apply text-white
  }

  .titleOfForm {
    @apply mx-auto text-6xl p-3 font-bold m-3 text-center;
  }

  .informationTag {
    @apply text-lg my-1 text-center 
  }

  .errorMessage {
    @apply informationTag text-red-600 font-bold
  }

  .linkTo {
    @apply efectOfTransition ms-2
  }

  .linkTo:hover {
    @apply text-blue-950 underline underline-offset-4
  }

  .btn {
    @apply lg:sm:w-40 w-40 m-3 rounded-lg p-5 font-bold text-lg efectOfTransition;
    @apply border-4 text-center shadow-inner;
  }

  .btn > i {
    @apply text-5xl
  }

  .btn:hover {
    @apply shadow-lg;
  }

  .btn-blue {
    @apply btn bg-white text-blue-500;
  }

  .btn-blue:hover {
    @apply bg-blue-500 text-white shadow-blue-500 border-blue-500;
  }

  .btn-red {
    @apply btn;
    @apply bg-white text-red-700;
  }

  .btn-red:hover {
    @apply bg-red-700 text-white shadow-red-700 border-red-700;
  }

  .btn-green {
    @apply btn;
    @apply bg-white text-green-600 ;
  }

  .btn-green:hover {
    @apply bg-green-600 text-white shadow-green-600 border-green-600;
  }

}